.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .login-form {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    max-width: 300px;
  }
  
  h2 {
    color: #ff0000;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    width: auto;
    border: 1px solid #666;
    border-radius: 3px;
  }
  
  button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d60000;
  }
  